<!doctype html>
<title>Hello from Flask</title>
<h1>Tutelado Caetán</h1>
<h3>Click the button to fetch DB data</h3>
<button onclick='location.href="{{ url_path }}"' type="button">Click me to get {{ entry }}!</button>